/* .date_cvc_input_box{
display: flex;
gap: 10px;
}
.date_cvc_box{
    display: flex;
    gap: 20px;
}
.date_cvc_box_minor{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.dare_cvc_l{
    color: var(--Deep-Violet, #21092F);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 26px;
} */