/* .card_back{
    width: 447px;
height: 245px;
border-radius: 10px;
background: linear-gradient(169deg, #FFF 5%, #D2D3D9 91.69%);
padding-top: 23px;
display: flex;
flex-direction: column; 
align-items: center;
position: relative;
left: 258px;
z-index: 5;
}
.black_div{
    height: 54px;
    width: 100%;
    background: #2F2F2F;
}
.cvc_div{
    width: 361px;
    height: 38px;
    border-radius: 4px;
background: #ADB5BE;
margin-top: 24px;
display: flex;
align-items: center;
justify-content: end;
padding-right: 16px;
}
.cvc_p{
    color: var(--White, #FFF);
font-size: 14px;
font-weight: 500;
letter-spacing: 2px;
}
.img1{
    margin-top: 33px;
} */