@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", serif;
  transition: all 1s ease-in-out;
}
#root{
  height: 100vh;
  overflow: hidden;
}
.main_div{
  height: 100vh;
  max-width: 483px;
  width: 100%;
  background-image: url(./assets//images//Group10.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 37px;
  position: relative;
}

.cards_div{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 37px; ;
}
.conteiner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 227px;
}
.date_cvc_input_box{
  display: flex;
  gap: 10px;

  }
  .date_cvc_box{
      display: flex;
      gap: 20px;
      align-items: end;
  }
  .date_cvc_box_minor{
      display: flex;
      flex-direction: column;
      gap: 9px;
  }
  .dare_cvc_l{
      color: var(--Deep-Violet, #21092F);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 2px;
  }
  form{
      display: flex;
      flex-direction: column;
      gap: 26px;
  }

.card_front{
  width: 447px;
height: 245px;
border-radius: 10px;
background-image: url(./assets//images/Oval.Copy.2.svg);
background-repeat: no-repeat;
background-size: cover;
position: relative;
overflow: hidden;
left: 164px;
display: flex;
flex-direction: column;
align-items: start;
padding-left: 32px;
}

.avatar_img_box{
  width: 46.957px;
  height: 47px;
background-color: White;
border-radius: 50%;
}
.circle_div{
  width: 21.13px;
  height: 21.15px;
  border: 1px solid var(--White, #FFF);
  border-radius: 50%;
}
.avatar_box{
  display: flex;
  justify-content: center;
  align-items: center;
 gap: 17px;
margin-top: 28px;
}
.card_front_numbers_p{
  color: var(--White, #FFF);
  font-size: 28px;
font-weight: 500;
letter-spacing: 3.422px;
margin-top: 64px;
}

.card_info_p{
  color: var(--White, #FFF);
font-size: 14px;
font-weight: 500;
letter-spacing: 2px;
}
.card_front_bottom_div{
  width: 350px;
  margin-top: 25px;
  display: flex;
 align-items: center;
 justify-content: space-between;
}
.card_back{
  width: 447px;
height: 245px;
border-radius: 10px;
background: linear-gradient(169deg, #FFF 5%, #D2D3D9 91.69%);
padding-top: 23px;
display: flex;
flex-direction: column; 
align-items: center;
position: relative;
left: 258px;
z-index: 5;
}
.black_div{
  height: 54px;
  width: 100%;
  background: #2F2F2F;
}
.cvc_div{
  width: 361px;
  height: 38px;
  border-radius: 4px;
background: #ADB5BE;
margin-top: 24px;
display: flex;
align-items: center;
justify-content: end;
padding-right: 16px;
}
.cvc_p{
  color: var(--White, #FFF);
font-size: 14px;
font-weight: 500;
letter-spacing: 2px;
}
.img1{
  margin-top: 33px;
}
.Cardholder_Name_box{
  display: flex;
  flex-direction: column;
  gap: 9px;
  }
  #Cardholder_Name{
      width: 381px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid var(--Light-Grey, #DFDEE0);
  background: var(--White, #FFF);
  outline: none;
  padding-left: 16px;
  }
  .Cardholder_Name_l{
      color: var(--Deep-Violet, #21092F);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 2px;
  }
  .Card_Number_box{
    display: flex;
    flex-direction: column;
    gap: 9px;
    }
    #Card_Number{
        width: 381px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid var(--Light-Grey, #DFDEE0);
    background: var(--White, #FFF);
    outline: none;
    padding-left: 16px;
    }
    .Card_Number_l{
        color: var(--Deep-Violet, #21092F);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
    }
    .MM_input{
      width: 80px;
      height: 45px;
      border-radius: 8px;
  border: 1px solid var(--Light-Grey, #DFDEE0);
  background: var(--White, #FFF);
  outline: none;
  padding-left: 16px;
  }
  .yy_input{
    width: 80px;
    height: 45px;
    border-radius: 8px;
border: 1px solid var(--Light-Grey, #DFDEE0);
background: var(--White, #FFF);
outline: none;
padding-left: 16px;
}
.cvc_box{
  display: flex;
  flex-direction: column;
  gap: 9px;
  }
  #CVC{
      width: 191px;
      height: 45px;
  border-radius: 8px;
  border: 1px solid var(--Light-Grey, #DFDEE0);
  background: var(--White, #FFF);
  outline: none;
  padding-left: 16px;
  }
  .cvc_l{
      color: var(--Deep-Violet, #21092F);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 2px;
  }
  button{
    width: 381px;
height: 53px;
border-radius: 8px;
background: var(--Deep-Violet, #21092F);
color: var(--White, #FFF);
font-size: 18px;
font-weight: 500;
cursor: pointer;
border: none;
}

.error{
  color: var(--Red, #FF5050);
font-size: 12px;
font-weight: 500;
}
.done_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
  color: var(--Deep-Violet, #21092F);
font-size: 28px;
font-weight: 500;
letter-spacing: 3.422px;
margin-top: 35px;
}
.done_div_p{
  color: var(--Purplish-Grey, #8F8694);
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
}
.continue_btn{
  width: 381px;
height: 53px;
border-radius: 8px;
background: var(--Deep-Violet, #21092F);
color: var(--White, #FFF);
font-size: 18px;
font-weight: 500;
margin-top: 48px;
}
@media(max-width:1360px){
  .main_div{
max-width: 300px;
  }
  .conteiner{
    padding-right: 70px;
  }
  .card_front{
    left: 70px;
  }
.card_back{
  left: 100px;
}
#Cardholder_Name{
width: 327px;
  height: 45px;
}
  #Card_Number{
    width: 327px;
  height: 45px;
  }
  .MM_input{
    width: 72px;
height: 45px;
  }
  .yy_input{
    width: 72px;
height: 45px;
  }
  #CVC{
    width: 164px;
height: 45px;
  }
  button{
    width: 327px;
height: 53px;
  }
  .date_cvc_box{
gap: 11px;
  }
  .continue_btn{
    width: 327px;
    height: 53px;
  }
}
@media(max-width:980px){
  .conteiner{
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    padding-right: 0px;
  }  
    .main_div {
      max-width: 100%;
    width: 100%;
height: 240px;
display: flex;
justify-content: center;
align-items: center;
padding-left: 55px;
  }
  .cards_div{
gap: 0px;
flex-direction: column-reverse;
  }
  .card_front{
    width: 285px;
height: 156.208px;
padding-left: 18px;
left: -57px;
position: absolute;
z-index: 6;
top: 92px;
  }
  .img1{
display: none;
  }
  .avatar_box{
    margin-top: 17px;
  }
  .avatar_img_box{
    width: 30px;
    height: 30px;
  }
  .card_front_numbers_p{
    margin-top: 37px;
    font-size: 18px;
letter-spacing: 2.2px;
  }
  .card_back{width: 286px;
    height: 157px;
    padding-top: 14px;
    left: 0;
  }
    .card_info_p{
      font-size: 9px;
    letter-spacing: 1.286px;
    }
    .card_front_bottom_div{
      width: 100%;
      padding-right: 20px;
    }
    .black_div{
      height: 34px;
    }
    .cvc_div{
      width: 230.975px;
      height: 29.739px;
      margin-top: 15px;
    }
    .cvc_p{
      font-size: 9px;
      letter-spacing: 1.286px;
    }
    form{
      margin-bottom: 82px;
    }
    .done_div{
      margin-bottom: 82px;
    }
  
}