.Card_Number_box{
    display: flex;
    flex-direction: column;
    gap: 9px;
    }
    #Card_Number{
        width: 381px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid var(--Light-Grey, #DFDEE0);
    background: var(--White, #FFF);
    outline: none;
    padding-left: 16px;
    }
    .Card_Number_l{
        color: var(--Deep-Violet, #21092F);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
    }